@model Adidas.ViewModels.PersonInfo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>


    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/myScript.js"></script>
</head>
<body class="container-fluid">
    <div style="padding-top: 50px; padding-left: 20px; padding-right: 20px;">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1 class="panel-title">اطلاعات فردی</h1>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <p>
                            @Html.LabelFor(p => p.Person.Name):
                            <span>@Html.DisplayFor(p => p.Person.Name)</span>


                        </p>
                        <p>
                            @Html.LabelFor(p => p.Person.LastName):
                            <span>@Html.DisplayFor(p => p.Person.LastName)</span>


                        </p>
                        <p>
                            @Html.LabelFor(p => p.Person.Father):
                            <span>@Html.DisplayFor(p => p.Person.Father)</span>


                        </p>
                        <p>
                            @Html.LabelFor(p => p.Person.NationalCode):
                            <span>@Html.DisplayFor(p => p.Person.NationalCode)</span>


                        </p>
                        <p>
                            @Html.LabelFor(p => p.Person.Gender):
                            @{
                                if (Model.Person.Gender)
                                {
                                    <span>مرد</span>
                                }
                                else
                                {
                                    <span>زن</span>

                                }


                            }


                        </p>




                        @{
                            if (Model.Person.Gender)
                            {
                                <p>
                                    @Html.LabelFor(p => p.Person.MilitaryService):
                                    @{
                                        var t = DropDown.GetMilitaryList();

                                        if (Model.Person.MilitaryService == 0)
                                        {
                                            <span>@t.ElementAt(0).Text</span>
                                        }
                                        else if (Model.Person.MilitaryService == 1)
                                        {
                                            <span>@t.ElementAt(1).Text</span>
                                        }
                                        else if (Model.Person.MilitaryService == 2)
                                        {
                                            <span>@t.ElementAt(2).Text</span>
                                        }
                                        else if (Model.Person.MilitaryService == 3)
                                        {
                                            <span>@t.ElementAt(3).Text</span>
                                        }
                                        else if (Model.Person.MilitaryService == 4)
                                        {
                                            <span>@t.ElementAt(4).Text</span>

                                        }



                                    }

                                </p>
                            }
                        }



                        <p>
                            @Html.LabelFor(p => p.Person.BirthDay):
                            @{
                                <span> @Model.Person.BirthDay.Value.ToPersianDateString()</span>
                                TimeSpan r = DateTime.Now.Subtract(Model.Person.BirthDay.Value);
                                int years = (int)(r.Days / 365.25);
                                <span>( @years.ToString() سال)</span>
                            }


                        </p>

                        <p>
                            @Html.LabelFor(p => p.Person.Marriage):
                            @{
                                if (Model.Person.Gender)
                                {
                                    <span>مجرد</span>
                                }
                                else
                                {
                                    <span>متاهل</span>

                                }


                            }


                            @{
                                if (!Model.Person.Gender)
                                {

                                <p>
                                    @Html.LabelFor(p => p.Person.Children):
                                    @{
                                        var tt = DropDown.GetCountOfChildernList();
                                        if (Model.Person.Children == null)
                                        {

                                            <span>@tt.ElementAt(0).Text</span>
                                        }
                                        else if (Model.Person.Children == 0)
                                        {
                                            <span>@tt.ElementAt(0).Text</span>
                                        }
                                        else if (Model.Person.Children == 1)
                                        {
                                            <span>@tt.ElementAt(1).Text</span>
                                        }
                                        else if (Model.Person.Children == 2)
                                        {
                                            <span>@tt.ElementAt(2).Text</span>
                                        }
                                        else if (Model.Person.Children == 3)
                                        {
                                            <span>@tt.ElementAt(3).Text</span>
                                        }
                                        else if (Model.Person.Children == 4)
                                        {
                                            <span>@tt.ElementAt(4).Text</span>

                                        }



                                    }

                                </p>
                            }
                            }

                            <p>
                                @Html.LabelFor(p => p.Person.Mobile):
                                <span>@Html.DisplayFor(p => p.Person.Mobile)</span>


                            </p>
                            <p>
                                @Html.LabelFor(p => p.Person.Tell):
                                <span>@Html.DisplayFor(p => p.Person.Tell)</span>


                            </p>
                            <p>
                                @Html.LabelFor(p => p.Person.Email):
                                @{
                                    if (Model.Person.Email == null)
                                    {
                                        <span>ندارد</span>
                                    }
                                    else
                                    {
                                        <span>@Html.DisplayFor(p => p.Person.Email)</span>
                                    }
                                }



                            </p>
                            <p>
                                @Html.LabelFor(p => p.Person.Address):
                                <span>@Html.DisplayFor(p => p.Person.Address)</span>


                            </p>





                        </div>

                        @{
                            if (Model.Person.image != null)
                            {
                                <div class="col-lg-6 col-md-6 col-sm-6 visible-lg visible-md">
                                    @{var base64 = Convert.ToBase64String(Model.Person.image);
                                        var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                                        @*<img src='@imgsrc' style="width:100%;height:100%;" />*@
                                    }

                                    <a href="#" style="width:350px;height:350px;background-image:url(@imgsrc);background-size:cover; background-position: center;
                                 position:absolute;left:0px;top:0px;"></a>






                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-6 visible-sm">
                                    @*<img src='@imgsrc' style="width:100%;height:100%;" />*@

                                    <a href="#" style="width:200px;height:200px;background-image:url(@imgsrc);background-size:cover; background-position: center;
                                 position:absolute;left:0px;top:0px;">
                                    </a>




                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-6 visible-xs">
                                    <a class="btn btn-primary">مشاهده تصویر</a>
                                </div>
                            }
                        }


                    </div>




                    <div class="row">

                    </div>



                </div>


            </div>


            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">اطلاعات تحصیلی و شغلی</h1>
                </div>
                <div class="panel-body">
                    <div class="row">

                        <div class="col-lg-6 col-md-6 col-sm-6">

                            <p>
                                @Html.LabelFor(p => p.Person.Degree):
                                @{
                                    var ttt = DropDown.GetDegreeList();
                                    if (Model.Person.Degree == 0)
                                    {

                                        <span>@ttt.ElementAt(0).Text</span>
                                    }
                                    else if (Model.Person.Degree == 1)
                                    {
                                        <span>@ttt.ElementAt(1).Text</span>
                                    }
                                    else if (Model.Person.Degree == 2)
                                    {
                                        <span>@ttt.ElementAt(2).Text</span>
                                    }
                                    else if (Model.Person.Degree == 3)
                                    {
                                        <span>@ttt.ElementAt(3).Text</span>
                                    }
                                    else if (Model.Person.Degree == 4)
                                    {
                                        <span>@ttt.ElementAt(4).Text</span>

                                    }
                                    else if (Model.Person.Degree == 5)
                                    {
                                        <span>@ttt.ElementAt(5).Text</span>

                                    }



                                }

                            </p>


                            <p>
                                @Html.LabelFor(p => p.Person.Institute):
                                <span>@Html.DisplayFor(p => p.Person.Institute)</span>


                            </p>
                            <p>
                                @Html.LabelFor(p => p.Person.Field):
                                <span>@Html.DisplayFor(p => p.Person.Field)</span>


                            </p>

                            <p>
                                @Html.LabelFor(p => p.Person.EnglishKnowledge):
                                @{
                                    var tttt = DropDown.GetKnowledgeList();
                                    if (Model.Person.EnglishKnowledge == 1)
                                    {

                                        <span>@tttt.ElementAt(1).Text</span>
                                    }
                                    else if (Model.Person.EnglishKnowledge == 2)
                                    {
                                        <span>@tttt.ElementAt(2).Text</span>
                                    }
                                    else if (Model.Person.EnglishKnowledge == 3)
                                    {
                                        <span>@tttt.ElementAt(3).Text</span>
                                    }
                                    else if (Model.Person.EnglishKnowledge == 0)
                                    {
                                        <span>@tttt.ElementAt(0).Text</span>
                                    }

                                }

                            </p>


                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6">



                            <p>
                                @Html.LabelFor(p => p.Person.Skills):
                                @{
                                    if (Model.Person.Skills == null)
                                    {
                                        <span>ندارد</span>
                                    }
                                    else
                                    {
                                        <span>@Html.DisplayFor(p => p.Person.Skills)</span>
                                    }
                                }



                            </p>
                            <p>
                                @Html.Label("نرم افزارهای مسلط"):
                                @{
                                    if (Model.Person.Excel)
                                    {
                                        <span>Excel</span>
                                    }
                                    if (Model.Person.Word)
                                    {
                                        <span>Word</span>
                                    }
                                    if (Model.Person.PowerPoint)
                                    {
                                        <span>PowerPoint </span>
                                    }
                                    if (Model.Person.Outlook)
                                    {
                                        <span>Outlook</span>
                                    }
                                    if (Model.Person.Accounting)
                                    {
                                        <span>حسابداری</span>
                                    }
                                }



                            </p>
                            <p>
                                @Html.LabelFor(p => p.Person.OtherSoftwer):
                                @{
                                    if (Model.Person.OtherSoftwer == null)
                                    {
                                        <span>ندارد</span>
                                    }
                                    else
                                    {
                                        <span>@Html.DisplayFor(p => p.Person.OtherSoftwer)</span>
                                    }
                                }



                            </p>

                        </div>

                    </div>
                    <div class="row table-responsive">

                        @{
                            if (Model.JobRecord1 != null)
                            {
                                <table class="table table-striped table-hover table-bordered ">
                                    <thead>
                                        <tr class="info">
                                            <th>#</th>
                                            <th class="text-center col-xs-2">نام موسسه</th>
                                            <th class="text-center col-xs-2">سمت کاری/نوع همکاری</th>
                                            <th class="text-center col-xs-2">مدت اشتغال</th>
                                            <th class="text-center col-xs-2">علت قطع همکاری</th>
                                            <th class="text-center col-xs-4">آدرس</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            if (Model.JobRecord1 != null)
                                            {
                                                <tr>
                                                    <td>1</td>
                                                    <td>@Model.JobRecord1.Company</td>
                                                    <td>@Model.JobRecord1.Title</td>
                                                    <td>@Model.JobRecord1.Duration</td>
                                                    <td>@Model.JobRecord1.Disconnection</td>
                                                    <td>@Model.JobRecord1.Address</td>

                                                </tr>
                                            }

                                            if (Model.JobRecord2 != null)
                                            {
                                                <tr>
                                                    <td>2</td>
                                                    <td>@Model.JobRecord2.Company</td>
                                                    <td>@Model.JobRecord2.Title</td>
                                                    <td>@Model.JobRecord2.Duration</td>
                                                    <td>@Model.JobRecord2.Disconnection</td>
                                                    <td>@Model.JobRecord2.Address</td>
                                                </tr>
                                            }
                                            if (Model.JobRecord3 != null)
                                            {
                                                <tr>
                                                    <td>2</td>
                                                    <td>@Model.JobRecord3.Company</td>
                                                    <td>@Model.JobRecord3.Title</td>
                                                    <td>@Model.JobRecord3.Duration</td>
                                                    <td>@Model.JobRecord3.Disconnection</td>
                                                    <td>@Model.JobRecord3.Address</td>
                                                </tr>
                                            }
                                        }




                                    </tbody>
                                </table>
                            }
                        }

                    </div>




                    <div class="row">

                    </div>



                </div>


            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">اطلاعات  و انتظارات شغلی</h1>
                </div>
                <div class="panel-body">
                    <div class="row">

                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <p>
                                @Html.LabelFor(p => p.Person.JobStatus):
                                @{
                                    if (Model.Person.JobStatus)
                                    {
                                        <span>تمام وقت</span>
                                    }
                                    else
                                    {
                                        <span>نیمه وقت</span>

                                    }


                                }


                            </p>


                            @{
                                if (!Model.Person.JobStatus)
                                {
                                    <p>
                                        @Html.LabelFor(p => p.Person.DaysNumber):
                                        @{
                                            var e = DropDown.GetDaysList();

                                            if (Model.Person.DaysNumber == 0)
                                            {
                                                <span>@e.ElementAt(0).Text</span>
                                            }
                                            else if (Model.Person.DaysNumber == 1)
                                            {
                                                <span>@e.ElementAt(1).Text</span>
                                            }
                                            else if (Model.Person.DaysNumber == 2)
                                            {
                                                <span>@e.ElementAt(2).Text</span>
                                            }
                                            else if (Model.Person.DaysNumber == 3)
                                            {
                                                <span>@e.ElementAt(3).Text</span>
                                            }
                                            else if (Model.Person.DaysNumber == 4)
                                            {
                                                <span>@e.ElementAt(4).Text</span>

                                            }
                                            else if (Model.Person.DaysNumber == 5)
                                            {
                                                <span>@e.ElementAt(5).Text</span>
                                            }
                                            else if (Model.Person.DaysNumber == 6)
                                            {
                                                <span>@e.ElementAt(6).Text</span>

                                            }



                                        }

                                    </p>
                                }
                            }



                            <p>
                                @Html.LabelFor(p => p.Person.WorkingGuranty):
                                @{
                                    if (Model.Person.WorkingGuranty)
                                    {
                                        <span> بله</span>
                                    }
                                    else
                                    {
                                        <span> خیر</span>

                                    }


                                }


                            </p>


                            @{
                                if (!Model.Person.WorkingGuranty)
                                {
                                    <p>
                                        @Html.LabelFor(p => p.Person.Duration):
                                        @{
                                            var ee = DropDown.GetDurationOfWorkList();

                                            if (Model.Person.Duration == 0)
                                            {
                                                <span>@ee.ElementAt(0).Text</span>
                                            }
                                            else if (Model.Person.Duration == 1)
                                            {
                                                <span>@ee.ElementAt(1).Text</span>
                                            }
                                            else if (Model.Person.Duration == 2)
                                            {
                                                <span>@ee.ElementAt(2).Text</span>
                                            }
                                            else if (Model.Person.Duration == 3)
                                            {
                                                <span>@ee.ElementAt(3).Text</span>
                                            }
                                            else if (Model.Person.Duration == 4)
                                            {
                                                <span>@ee.ElementAt(4).Text</span>

                                            }
                                            else if (Model.Person.Duration == 5)
                                            {
                                                <span>@ee.ElementAt(5).Text</span>
                                            }




                                        }

                                    </p>
                                }
                            }

                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6">

                            <p>
                                @Html.LabelFor(p => p.Person.GurantyPayment):
                                @{
                                    if (Model.Person.JobStatus)
                                    {
                                        <span>بله</span>
                                    }
                                    else
                                    {
                                        <span>خیر</span>

                                    }


                                }


                            </p>

                            <p>
                                @Html.LabelFor(p => p.RelationShip1.Moaref):
                                @{
                                    if (Model.RelationShip1 != null)
                                    {
                                        if (Model.RelationShip1.Moaref)
                                        {
                                            <span>دارد</span>
                                        }
                                        else
                                        {
                                            <span>ندارد</span>

                                        }
                                    }
                                    else
                                    {
                                        <span>ندارد</span>

                                    }


                                }


                            </p>

                            <p>
                                @Html.LabelFor(p => p.Person.SalaryExpection):
                                <span>@Html.DisplayFor(p => p.Person.SalaryExpection)</span>


                            </p>




                        </div>

                    </div>
                    <div class="row table-responsive">

                        @{
                            if (Model.RelationShip1 != null)
                            {
                                <table class="table table-striped table-hover table-bordered ">
                                    <thead>
                                        <tr class="info">
                                            <th>#</th>
                                            <th class="text-center col-xs-2">نام و نام خانوادگی</th>
                                            <th class="text-center col-xs-2">نسبت</th>
                                            <th class="text-center col-xs-2">تلفن</th>
                                            <th class="text-center col-xs-6">ادرس</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            if (Model.RelationShip1 != null)
                                            {
                                                if (Model.RelationShip1.Moaref)
                                                {
                                                    <tr class="success">
                                                        <td>1</td>
                                                        <td>@Model.RelationShip1.Name</td>
                                                        <td>@Model.RelationShip1.Relational</td>
                                                        <td>@Model.RelationShip1.Tell</td>
                                                        <td>@Model.RelationShip1.Address</td>


                                                    </tr>
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td>1</td>
                                                        <td>@Model.RelationShip1.Name</td>
                                                        <td>@Model.RelationShip1.Relational</td>
                                                        <td>@Model.RelationShip1.Tell</td>
                                                        <td>@Model.RelationShip1.Address</td>


                                                    </tr>
                                                }

                                            }

                                            if (Model.RelationShip2 != null)
                                            {
                                                <tr>
                                                    <td>2</td>
                                                    <td>@Model.RelationShip2.Name</td>
                                                    <td>@Model.RelationShip2.Relational</td>
                                                    <td>@Model.RelationShip2.Tell</td>
                                                    <td>@Model.RelationShip2.Address</td>
                                                </tr>
                                            }
                                            if (Model.RelationShip3 != null)
                                            {
                                                <tr>
                                                    <td>2</td>
                                                    <td>@Model.RelationShip3.Name</td>
                                                    <td>@Model.RelationShip3.Relational</td>
                                                    <td>@Model.RelationShip3.Tell</td>
                                                    <td>@Model.RelationShip3.Address</td>
                                                </tr>
                                            }
                                        }




                                    </tbody>
                                </table>
                            }
                        }

                    </div>




                    <div class="row">

                    </div>



                </div>


            </div>
        </div>
    </body>
</html>
