@model Adidas.ViewModels.PersonInfo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>


    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/myScript.js"></script>
</head>
<body class="container-fluid">
    <div style="padding-top: 50px; padding-left: 20px; padding-right: 20px;">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1 class="panel-title">اطلاعات فردی</h1>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <p>
                            @Html.LabelFor(p => p.Person.Name):
                            <span>@Html.DisplayFor(p => p.Person.Name)</span>


                        </p>
                        <p>
                            @Html.LabelFor(p => p.Person.LastName):
                            <span>@Html.DisplayFor(p => p.Person.LastName)</span>


                        </p>
                        <p>
                            @Html.LabelFor(p => p.Person.Father):
                            <span>@Html.DisplayFor(p => p.Person.Father)</span>


                        </p>
                        <p>
                            @Html.LabelFor(p => p.Person.NationalCode):
                            <span>@Html.DisplayFor(p => p.Person.NationalCode)</span>


                        </p>
                        <p>
                            @Html.LabelFor(p => p.Person.Gender):
                            @{
                                if (Model.Person.Gender)
                                {
                                    <span>مرد</span>
                                }
                                else
                                {
                                    <span>زن</span>

                                }


                            }


                        </p>
                        <p>
                            @Html.LabelFor(p => p.Person.MilitaryService):
                            @{
                                var t = DropDown.GetMilitaryList();
                                if (Model.Person.MilitaryService == 0)
                                {

                                    <span>@t.ElementAt(0).Text</span>
                                }
                                else if (Model.Person.MilitaryService == 1)
                                {
                                    <span>@t.ElementAt(1).Text</span>
                                }
                                else if (Model.Person.MilitaryService == 2)
                                {
                                    <span>@t.ElementAt(2).Text</span>
                                }
                                else if (Model.Person.MilitaryService == 3)
                                {
                                    <span>@t.ElementAt(3).Text</span>
                                }
                                else if (Model.Person.MilitaryService == 4)
                                {
                                    <span>@t.ElementAt(4).Text</span>

                                }



                            }

                        </p>
                        <p>
                            @Html.LabelFor(p => p.Person.BirthDay):
                            @{
                                <span> @Model.Person.BirthDay.Value.ToPersianDateString()</span>
                            }


                        </p>


                    </div>
                    <div class="col-lg-6">

                        <p>
                            @Html.LabelFor(p => p.Person.Marriage):
                            @{
                                if (Model.Person.Gender)
                                {
                                    <span>مجرد</span>
                                }
                                else
                                {
                                    <span>متاهل</span>

                                }


                            }


                            @{
                                if (!Model.Person.Gender)
                                {

                                <p>
                                    @Html.LabelFor(p => p.Person.Children):
                                    @{
                                        var tt = DropDown.GetCountOfChildernList();
                                        if (Model.Person.Children == null)
                                        {

                                            <span>@t.ElementAt(0).Text</span>
                                        }
                                        else if (Model.Person.Children == 0)
                                        {
                                            <span>@t.ElementAt(0).Text</span>
                                        }
                                        else if (Model.Person.Children == 1)
                                        {
                                            <span>@t.ElementAt(1).Text</span>
                                        }
                                        else if (Model.Person.Children == 2)
                                        {
                                            <span>@t.ElementAt(2).Text</span>
                                        }
                                        else if (Model.Person.Children == 3)
                                        {
                                            <span>@t.ElementAt(3).Text</span>
                                        }
                                        else if (Model.Person.Children == 4)
                                        {
                                            <span>@t.ElementAt(4).Text</span>

                                        }



                                    }

                                </p>
                            }
                            }

                            <p>
                                @Html.LabelFor(p => p.Person.Mobile):
                                <span>@Html.DisplayFor(p => p.Person.Mobile)</span>


                            </p>
                            <p>
                                @Html.LabelFor(p => p.Person.Tell):
                                <span>@Html.DisplayFor(p => p.Person.Tell)</span>


                            </p>
                            <p>
                                @Html.LabelFor(p => p.Person.Email):
                                @{
                                    if (Model.Person.Email == null)
                                    {
                                        <span>ندارد</span>
                                    }
                                    else
                                    {
                                        <span>@Html.DisplayFor(p => p.Person.Father)</span>
                                    }
                                }



                            </p>
                            <p>
                                @Html.LabelFor(p => p.Person.Address):
                                <span>@Html.DisplayFor(p => p.Person.Address)</span>


                            </p>





                        </div>
                    </div>




                    <div class="row">

                    </div>



                </div>
            </div>
        </div>
    </body>
</html>
