@model Adidas.ViewModels.PersonInfo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-3.3.1.js"></script>
</head>
<body class="container-fluid">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Brand</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Link</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input class="form-control" placeholder="Search" type="text">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Link</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="row text-center"><h1>فرم استخدام</h1></div>
<div style="padding-top: 50px; padding-left: 20px; padding-right: 20px;">

    @using (Ajax.BeginForm("Register", "Home", new AjaxOptions {HttpMethod = "Post", Url = "/Home/Register"}))
    {
        <div class=" row">
            <div class="col-md-2">
                <div class="_group row">
                    <div class=" col-md-3 text-right _label ">
                        @Html.LabelFor(p => p.Person.Name)<span>*</span>
                    </div>
                    <div class=" col-md-9">

                        @Html.TextBoxFor(p => p.Person.Name, new {@class = "form-control"})

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="_group row">
                    <div class=" col-md-4 text-right _label">
                        @Html.LabelFor(p => p.Person.LastName)<span>*</span>
                    </div>
                    <div class=" col-md-8">

                        @Html.TextBoxFor(p => p.Person.LastName, new {@class = "form-control"})

                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="_group row">
                    <div class=" col-md-4 text-right _label">
                        @Html.LabelFor(p => p.Person.Father)<span>*</span>
                    </div>
                    <div class=" col-md-8">

                        @Html.TextBoxFor(p => p.Person.Father, new {@class = "form-control"})

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="_group row">
                    <div class=" col-md-3 text-right _label">
                        @Html.LabelFor(p => p.Person.BirthDay)<span>*</span>
                    </div>
                    <div class=" col-md-9">

                        @Html.DropDownListFor(p => p.Date.Day, new SelectList(ViewBag.Day), new { @class = " _date form-control " })
                        @Html.DropDownListFor(p => p.Date.Month, new SelectList(ViewBag.Month), new { @class = " _date form-control " })
                        @Html.DropDownListFor(p => p.Date.Year, new SelectList(ViewBag.Year), new { @class = " _date form-control " })


                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <div class="_group row">
                    <div class=" col-md-5 text-right _label ">
                        @Html.LabelFor(p => p.Person.Gender)<span>*</span>
                    </div>
                    <div class=" col-md-7">
                        @Html.Label("مرد", new {@class = "_label"})
                        @Html.RadioButtonFor(m => m.Person.Gender, true)
                        @Html.Label("زن", new {@class = "_label", style = "  margin-right: 30px;"})
                        @Html.RadioButtonFor(m => m.Person.Gender, false)

                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="_group row">
                    <div class=" col-md-5 text-right _label">
                        @Html.LabelFor(p => p.Person.MilitaryService)<span>*</span>
                    </div>
                    <div class=" col-md-7">


                        @Html.DropDownListFor(p => p.Person.MilitaryService, DropDown.GetMilitaryList(), new {@class = "form-control _dropdown" })



                    </div>

                </div>
            </div>
            
            <div class="col-md-3">
                <div class="_group row">
                    <div class=" col-md-5 text-right _label ">
                        @Html.LabelFor(p => p.Person.Marriage)<span>*</span>
                    </div>
                    <div class=" col-md-7">
                        @Html.Label("مجرد", new {@class = "_label"})
                        @Html.RadioButtonFor(m => m.Person.Marriage, true)
                        @Html.Label("متاهل", new {@class = "_label", style = "  margin-right: 30px;"})
                        @Html.RadioButtonFor(m => m.Person.Marriage, false)

                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="_group row">
                    <div class=" col-md-3 text-right _label">
                        @Html.LabelFor(p => p.Person.Children)
                    </div>
                    <div class=" col-md-3">

                        @Html.TextBoxFor(p => p.Person.Children, new {@class = "form-control"})

                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            
            <div class="col-md-2">
                <div class="_group row">
                    <div class=" col-md-4 text-right _label">
                        @Html.LabelFor(p => p.Person.NationalCode)
                    </div>
                    <div class=" col-md-8">

                        @Html.TextBoxFor(p => p.Person.NationalCode, new {@class = "form-control"})

                    </div>
                </div>
            </div>
            
            <div class="col-md-2">
                <div class="_group row">
                    <div class=" col-md-4 text-right _label">
                        @Html.LabelFor(p => p.Person.Mobile)<span>*</span>
                    </div>
                    <div class=" col-md-8">

                        @Html.TextBoxFor(p => p.Person.Mobile, new {@class = "form-control"})

                    </div>
                </div>
            </div>
            
            <div class="col-md-2">
                <div class="_group row">
                    <div class=" col-md-4 text-right _label">
                        @Html.LabelFor(p => p.Person.Tell)<span>*</span>
                    </div>
                    <div class=" col-md-8">

                        @Html.TextBoxFor(p => p.Person.Tell, new {@class = "form-control"})

                    </div>
                </div>
            </div>
            
            <div class="col-md-3">
                <div class="_group row">
                    <div class=" col-md-4 text-right _label">
                        @Html.LabelFor(p => p.Person.Email)<span>*</span>
                    </div>
                    <div class=" col-md-8">

                        @Html.TextBoxFor(p => p.Person.Email, new {@class = "form-control"})

                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="_group row">
                    <div class=" col-md-1 text-right _label">
                        @Html.LabelFor(p => p.Person.Address)<span>*</span>
                    </div>
                    <div class=" col-md-11">

                        @Html.TextBoxFor(p => p.Person.Address, new {@class = "form-control",style= " max-width: 1500px;" })

                    </div>
                </div>
            </div>
        </div>

        <input type="submit" value="Save" class="btn btn-primary"/>
    }
</div>








    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryajax")
</body>
</html>
